.headerContainer {
  display: block;
}

#metroImgContainer {
  background-color: #fff;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;
}

.metroImg {
  width: 225px;
  height: 48px;
  border: 0px;
}

#metroImgBannerContainer {
  width: 100%;
  background: transparent url(https://www.metrotransit.org/Images/mob_bannerbkg.png) repeat-x scroll left top;
}

.metroImgBanner {
  width: 275px;
  height: 22px;
  border: 0px;
}

.inputSelectContainer {
  margin-top: 10px;
}

.inputSelect {
  width: 20em;
  height: 24px;
  margin-left: 10px;
}

.submitBtn {
  margin: 10px 0 0 10px;
  background: #0053A0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  border-radius: .25rem;
  height: 24px;
  border: .0625rem solid transparent;
  padding: 0 10px;
  vertical-align: middle;
  text-align: center;
}

.inputStopNumberContainer {
  display: inline-block;
  margin-right: 1em;
}

.inputStopNumber {
  width: 5em;
  height: 20px;
  margin-left: 10px;

}

.inputStopNumberBtn {
  background: #0053A0;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  border-radius: .25rem;
  height: 24px;
  border: .0625rem solid transparent;
  padding: 0 10px;
  vertical-align: middle;
  text-align: center;
}

.dividerLine {
  color: #cccccc;
  background-color: #cccccc;
  margin-right: 10px;
  margin-left: 10px;
}

.nextTripStopsContainer {
  float: left;
  width: 92%;
  margin: 0 4%;
  padding: 6px 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
  background: #fff;
}

.nextTripStopsDataRow {
  line-height: 1.2em;
  font-size: .9em;
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  color: #000;
}

.nextTripStopsRow1 {
  float: left;
  width: 13%;
  margin: 4px 0;
}

.nextTripStopsRow2 {
  float: left;
  width: 72%;
  margin: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
}

.nextTripStopsRow3 {
  text-align: right;
  float: right;
  width: 15%;
  margin: 4px 0;
}

.departureTimeContainer {
  display: block;
}

.departureTime {
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 5px 0 0 0;
  color: #000;
  text-align: center;
  font-size: 1.2em;
  background: #ffdb43;
}

.currentTimeDisplay {
  display: block;
  width: 100%;
  height: 18px;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
  font-size: 1em;
  background: #ffeeb2;
}

.dataHeaderContainer {
  line-height: 1.2em;
  font-size: .9em;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
}

.dataHeaderLeft {
  display: block;
  float: left;
  width: 30%;
  margin: 0 4%;
}

.dataHeaderRight {
  display: block;
  float: right;
  width: 30%;
  margin: 0 4%;
  text-align: right;
}

.routeLink {
  color: #0053a0;
  text-decoration: none;
}

.backToStopBtn {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  margin: 15px;
  height: 24px;
  width: 32%;
  display: inline-block;
  color: #fff;
  background: #0053A0;
  border: .0625rem solid transparent;
  padding: 0 10px;
}
